<h2>Deal Notification</h2>
<ul>
  <li><b>Title:</b> <%= title %></li>
  <li><b>Amount:</b> <%= amount %></li>
  <li><b>Status:</b> <%= status %></li>
  <li><b>Customer ID:</b> <%= customerId %></li>
</ul>
