<!DOCTYPE html>
<html>
  <body>
    <h2>Hello <%= username %>,</h2>
    <p style="color: green">You have successfully logged in to your account.</p>
    <p style="color: red">If this wasn't you, please secure your account.</p>
  </body>
</html>
