<!DOCTYPE html>
<html>
  <body>
    <h2>Your password reset code:</h2>
    <p style="font-size: 2em; color: blue"><%= code %></p>
    <p>This code will expire in <span style="color: red;">10 minutes</span>.</p>
  </body>
</html>