<h2>You have a new task assigned!</h2>
<ul>
  <li><b>Title:</b> <%= title %></li>
  <li><b>Status:</b> <%= status %></li>
  <li><b>Due Date:</b> <%= new Date(dueDate).toLocaleString() %></li>
</ul>
